
include _head/head
include footer/footer
include header/header
include navigatin/navigation




doctype html
html(lang="ru")
    block head
        head
            +head({
                "title":"somthing"
            })

    body
        .wrapper
            block header
                +header
            .container
                +navigation
            block footer
                +footer


        block scripts
            script


