
include _head/head
include footer/footer
include header/header



doctype html
html(lang="ru")
    block head
        head
            +head({
                "title":"somthing"
            })

    body
        .wrapper
            block header
                +header

            block footer
                +footer


        block scripts
            script


