
include _head/head
include footer/footer
doctype html
html(lang="ru")
    block head
        head
            +head({
                "title":"somthing"
            })

    body
        .wrapper
            block content
                div content

            block footer
                +footer


        block scripts
            script


