
include _head/head

doctype html
html(lang="ru")
    block head
        +head({
            "title":"Documents"
        })

        body
            .wrapper
                block content
                    div content

                block footer
                    footer foter


            block scripts
                script




