
include _head/head
include footer/footer
include header/header
include navigatin/navigation
include main-content-documents/main-conetnt-documents




doctype html
html(lang="ru")
    block head
        head
            +head({
                "title":"somthing"
            })

    body
        .wrapper
            block header
                +header
            section.container.content
                +navigation
                main.main-content
                    block main
                        main main

            block footer
                +footer


        block scripts
            script(src='js/main.js')


