mixin table
    ul.document-table_group
        li.document-table_item
            .documents-table_title incoming document
            table.document-table
                thead
                    tr
                        th Incoming date
                        th Incoming number
                        th External Doc. Index
                        th External Doc. Date
                        th Type
                        th Theme
                        th Sent From
                        th Sent To
                        th Executor
                        th Execution Date
                        th Execution Mark
                        th Actions
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 15/15/2015
                        td
                            span.mark.signed Signed
                        td
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 10/15/2015
                        td
                            span.mark.awaits Awaits
                        td
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 07/15/2015
                        td
                            span.mark.cancelled Cancelled
                        td
        li.document-table_item
            .documents-table_title incoming document
            table.document-table
                thead
                    tr
                        th Incoming date
                        th Incoming number
                        th External Doc. Index
                        th External Doc. Date
                        th Type
                        th Theme
                        th Sent From
                        th Sent To
                        th Executor
                        th Execution Date
                        th Execution Mark
                        th Actions
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 15/15/2015
                        td
                            span.mark.signed Signed
                        td
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 10/15/2015
                        td
                            span.mark.awaits Awaits
                        td
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 07/15/2015
                        td
                            span.mark.cancelled Cancelled
                        td
        li.document-table_item
            .documents-table_title incoming document
            table.document-table
                thead
                    tr
                        th Incoming date
                        th Incoming number
                        th External Doc. Index
                        th External Doc. Date
                        th Type
                        th Theme
                        th Sent From
                        th Sent To
                        th Executor
                        th Execution Date
                        th Execution Mark
                        th Actions
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 15/15/2015
                        td
                            span.mark.signed Signed
                        td
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 10/15/2015
                        td
                            span.mark.awaits Awaits
                        td
                    tr
                        td 17/15/2015
                        td 01-01/6
                        td 01-01
                        td 17/15/2015
                        td Letter
                        td Whatever
                        td Organization 1
                        td EPAM
                        td Ivaniv Ivan
                        td 07/15/2015
                        td
                            span.mark.cancelled Cancelled
                        td
