mixin navigation
    nav.navigation
        ul.navigation_list
            li.navigation_item
                a(href="#").navigation_link.navigation_link_home home
            li.navigation_item.active
                a(href="#").navigation_link.navigation_link_documents documents
                ul.navigation_list
                    li.navigation_item
                        a(href="#").navigation_link incoming documents
                    li.navigation_item
                        a(href="#").navigation_link outgoing documents
                    li.navigation_item
                        a(href="#").navigation_link fax documents
                    li.navigation_item
                        a(href="#").navigation_link powers of attorney
                    li.navigation_item
                        a(href="#").navigation_link manuals
                    li.navigation_item
                        a(href="#").navigation_link orders
                    li.navigation_item
                        a(href="#").navigation_link contracts
                    li.navigation_item
                        a(href="#").navigation_link other documents
            li.navigation_item
                a(href="#").navigation_link.navigation_link_calendar calendar
            li.navigation_item
                a(href="#").navigation_link.navigation_link_archive archive
            li.navigation_item
                a(href="#").navigation_link.navigation_link_nomenclature nomenclature
            li.navigation_item
                a(href="#").navigation_link.navigation_link_organizations organizations



