$foot-collor: #cccccc;

.footer{
  font-size: 12px;
  @include source-Sans-Pro(300);
  color: $foot-collor;
  display: flex;
  .container{
    justify-content: space-between;
    align-items: center;
  }
}
.footer-menu{
  display: flex;
  flex-direction: row;
  li{
    border-right: 1px solid $foot-collor;
    &:last-child{
      border-right: none;
    }
  }
}
.footer-menu_link{
  display: block;
  padding:0 13px 0 13px;
  color: $foot-collor;
  text-decoration: none;

  transition: $main-transition;

  &:hover{
    color: white;
  }
}