mixin footer()
    footer.footer
        .container
            .copiright Powered by EPAM System
            ul.footer-menu
                li
                    a(href="#").footer-menu_link About
                li
                    a(href="#").footer-menu_link Help
                li
                    a(href="#").footer-menu_link Report a bug