mixin footer()
    footer.footer
        .container
            .copiright Powered by EPAM System
            ul.footer-menu
                li
                    a(href="#").footer-menu_link about
                li
                    a(href="#").footer-menu_link help
                li
                    a(href="#").footer-menu_link report a bug

